name: marp-to-pages
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Convert Markdown to HTML
        uses: docker://marpteam/marp-cli:v3.4.0
        with:
          args: survey_verification.md -o index.html
        env:
          MARP_USER: root:root

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: gh-pages
          build_dir: .
          keep_history: false
          create_branch: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
